<nav class="navbar fixed-bottom navbar-expand-lg navbar-main">
    <div class="container-fluid justify-content-center">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" data="home"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data="portfolio"><i class="fa-solid fa-project-diagram"></i> Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data="services"><i class="fa-solid fa-map-signs"></i> Services</a>
            </li>
        </ul>
    </div>
</nav>
